@model TodoApp.Models.Todo
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 50vh;">
        <div class="w-75">
            <form asp-action="Create" method="post"> 
                <div class="form-group">
                    <label for="Date">Tarih seçiniz</label>
                    <input class="form-control" id="Date" type="date" asp-for="Date">
                </div>
                <div class="form-group">
                    <label for="Title" >Yapılacak işin tanımını yapınız</label>
                    <textarea class="form-control" id="Title" rows="3" asp-for="Title"></textarea>
                </div>
                <button style="margin-top:20px" type="submit" class="btn btn-primary" >Ekle</button>
            </form>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>